<div class="home">
	<div class="about_us">
	<br>
	 <span id="title"> About Us </span><br><br>
	 <span>Pappu Gas Services (PGS) - is a online gas delivery service. We respect our customer and ensure that all the orders are delivered on time. </span>
	</div>

	<div class="how_work">
	<br><span id="title">How it Works? </span><br><br>
	<div class="left">
		<span id="title">You </span><br><br>
		<span>1. choose the product and quantity.</span><br>
		<span>2. choose the payment mode.</span><br>
		<span>3. place your order.</span><br>
	</div>
	<div class="right">
		<span id="title">We </span><br><br>
		<span>4. recieve your order.</span><br>
		<span>5. contact you and process the order.</span><br>
		<span>6. deliver the product.</span><br>
	</div>
	</div>

	<div class="why_us">
	<br>
	<span id="title">Why Choose Us? </span><br><br>
	<span>We provide 100% quality service.</span><br>
	<span>All the deliveries are done within 2 hours.</span><br>
	<span>Easy to order.</span><br>
	</div>
	</div>