<%= provide(:title, "Home") %>

<div class="contact text-center">
	<span id="title">
		for any queries, please email at shree.k271@gmail.com
	</span><br>
	<span id="title">Mobile: 8553879807 </span>
</div>