<% provide(:title, @customer.name) %>

<div class="text-center">
<span id="title">Your Profile</span>	
</div>

<div class="container-fluid">
	<div class="profile_head">
		<div class="name">
			<h1><%=@customer.name %></h1>
		</div>
		<div class="address">
			
		</div>
	</div>
</div>

